<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 满屏，禁止缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>ThreeAndCesium</title>
    <!--<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/Cesium/Widgets/widgets.css" type="text/css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="/Three/three.js"></script>
    <script type="text/javascript" src="/Three/controls/OrbitControls.js"></script>
    <script type="text/javascript" src="/Three/controls/FirstPersonControls.js"></script>
    <!--<script type="text/javascript" src="/Cesium/Core/Cartesian3.js"></script>-->
    <!--<script type="text/javascript" src="/Cesium/Widgets/Viewer/Viewer.js"></script>-->
    <!--<script type="text/javascript" src="/Cesium/Scene/ShadowMode.js"></script>-->
    <!--<script type="text/javascript" src="/Cesium/Core/Color.js"></script>-->
    <!--<script type="text/javascript" src="/Cesium/Core/Math.js"></script>-->


    <style>
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
            /*background: #000;*/
        }

        #cesiumContainer{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
            font-family: sans-serif;
        }

        #ThreeContainer{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0;
            font-family: sans-serif;
            pointer-events:none;
        }
    </style>
</head>
<body>
<div id="cesiumContainer"></div>
<div id="ThreeContainer"></div>



<script type="text/javascript">


function main() {

        var cesiumContainer = document.getElementById("cesiumContainer");
        var ThreeContainer = document.getElementById("ThreeContainer");

        var _3Dobjects = []; //Could be any Three.js object mesh

        var minWGS84 = [115.23,39.55];
        var maxWGS84 = [116.23,41.55];

        var renderer,camera,scene,viewer;

        /**
         * 统一3d模型对象
         */
        function _3DObject(){
            this.graphMesh = null; //Three.js 3DObject.mesh
            this.minWGS84 = null; //location bounding box
            this.maxWGS84 = null;
        }



        /**
         * 初始化Cesium
         */
        function initCesium(){


            viewer = new Cesium.Viewer(cesiumContainer,{
                useDefaultRenderLoop: true,
                selectionIndicator : false,
                homeButton:false,
                sceneModePicker:false,
                infoBox : true,
                navigationHelpButton:false,
                navigationInstructionsInitiallyVisible:false,
                animation : false,
                timeline : false,
                fullscreenButton : false,
                allowTextureFilterAnisotropic:false,
                contextOptions:{
                    webgl: {
                        alpha: false,
                        antialias: true,
                        preserveDrawingBuffer : true,
                        failIfMajorPerformanceCaveat: false,
                        depth:true,
                        stencil:false,
                        anialias:false
                    },
                },
                targetFrameRate:60,
                resolutionScale:0.1,
                orderIndependentTranslucency : true,
                imageryProvider : undefined,
                baseLayerPicker : false,
                geocoder : false,
                automaticallyTrackDataSourceClocks: false,
                dataSources: null,
                clock: null
            });


            var center = Cesium.Cartesian3.fromDegrees(
                (minWGS84[0] + maxWGS84[0]) / 2,
                ((minWGS84[1] + maxWGS84[1]) / 2)-1,
                200000
            );

            viewer.camera.flyTo({
                destination : center,
                orientation : {
                    heading : Cesium.Math.toRadians(0),
                    pitch : Cesium.Math.toRadians(-60),
                    roll : Cesium.Math.toRadians(0)
                },
                duration: 3
            });

            console.log("----------" + 1);
        }


        /**
         * 初始化Three
         */
        function initThree(){
            console.log("----------initThree" + 2);

            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 1, 10000);
            renderer = new THREE.WebGLRenderer({alpha: true});
            ThreeContainer.appendChild(renderer.domElement);



        }


        /**
         * 创建3D模型
         */
        function init3DObject(){

            var box = new THREE.BoxGeometry(100,100,100);
            var boxMeshgem = new THREE.MeshLambertMaterial({
                color:0xff0000,
                side:THREE.DoubleSide
            });
            var boxMesh = new THREE.Mesh(box,boxMeshgem);
            boxMesh.scale.set(100);
            boxMesh.position.z += 15000.0;
            boxMesh.rotation.x = Math.PI / 2;
            scene.add(boxMesh);
            var boxGrop = new THREE.Group();
            boxGrop.add(boxMesh);
            scene.add(boxGrop);



            var dObj = new _3DObject();
            dObj.graphMesh = boxGrop;
            dObj.minWGS84 = minWGS84;
            dObj.maxWGS84 = maxWGS84;
            _3Dobjects.push(dObj);
            console.log("----------" + 3 + "----len" + _3Dobjects.length);

        }

        /**
         * Three的转化
         */
        function renderThreeObj(){
            // console.log("----------" + 4);

            camera.fov = Cesium.Math.toDegrees(viewer.camera.frustum.fovy);

            camera.updateProjectionMatrix();

            var cartToVec = function(cart){
                return new THREE.Vector3(cart.x, cart.y, cart.z);
            };


            for(var i in _3Dobjects){
                var miWGS84 = _3Dobjects[i].minWGS84;
                var maWGS84 = _3Dobjects[i].maxWGS84;

                // convert lat/long center position to Cartesian3
                var center = Cesium.Cartesian3.fromDegrees((miWGS84[0] + maWGS84[0]) / 2, (miWGS84[1] + maWGS84[1]) / 2);

                // alert(center);
                // get forward direction for orienting model
                var centerHigh = Cesium.Cartesian3.fromDegrees((miWGS84[0] + maWGS84[0]) / 2, (miWGS84[1] + maWGS84[1]) / 2,1);

                // use direction from bottom left to top left as up-vector
                var bottomLeft  = cartToVec(Cesium.Cartesian3.fromDegrees(miWGS84[0], maWGS84[1]));
                var topLeft = cartToVec(Cesium.Cartesian3.fromDegrees(miWGS84[0], maWGS84[1]));
                var latDir  = new THREE.Vector3().subVectors(bottomLeft,topLeft ).normalize();

                // console.log(bottomLeft + ',' + topLeft + "," + latDir);
                // configure entity position and orientation
                _3Dobjects[i].graphMesh.position.copy(center);
                // _3Dobjects[i].graphMesh.position.set(center.x,center.y,center.z,center.w);
                _3Dobjects[i].graphMesh.lookAt(centerHigh);
                _3Dobjects[i].graphMesh.up.copy(latDir);
                // _3Dobjects[i].graphMesh.up.set(latDir);
            }


            // Clone Cesium Camera projection position so the
            // Three.js Object will appear to be at the same place as above the Cesium Globe
            camera.matrixAutoUpdate = true;
            var cvm = viewer.camera.viewMatrix;
            var civm = viewer.camera.inverseViewMatrix;
            camera.matrixWorld.set(
                civm[0], civm[4], civm[8 ], civm[12],
                civm[1], civm[5], civm[9 ], civm[13],
                civm[2], civm[6], civm[10], civm[14],
                civm[3], civm[7], civm[11], civm[15]
            );
            camera.matrixWorldInverse.set(
                cvm[0], cvm[4], cvm[8 ], cvm[12],
                cvm[1], cvm[5], cvm[9 ], cvm[13],
                cvm[2], cvm[6], cvm[10], cvm[14],
                cvm[3], cvm[7], cvm[11], cvm[15]
            );
            camera.lookAt(new THREE.Vector3(0,0,0));

            var width = ThreeContainer.clientWidth;
            var height = ThreeContainer.clientHeight;
            var aspect = width / height;
            // console.log("W:" + width + " H:" + height);
            camera.aspect = aspect;
            camera.updateProjectionMatrix();

            renderer.setSize(width, height);
            renderer.render(scene, camera);
            // renderer.setClearColor(0xffff00);
            ThreeContainer.appendChild(renderer.domElement);
        }




        /**
         * 渲染
         */
        function renderCesium(){
            // console.log("----------" + 5);
            viewer.render();
        }

        /**
         * 循环渲染
         */
        function loop(){
            requestAnimationFrame(loop);

            renderThreeObj();
            renderCesium();

        }



        //函数调用
        initCesium();
        initThree();
        init3DObject();
        loop();


    }

    main();


</script>

</body>
</html>





































