<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 满屏，禁止缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>cesiumAndThree</title>
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
    <!--<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/Cesium/Widgets/widgets.css">
    <!--<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>-->
    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="/Cesium/Cesium.js"></script>-->
    <!--<script type="text/javascript" src="/Three/three.min.js"></script>-->
    <!--<script type="text/javascript" src="/Three/controls/OrbitControls.js"></script>-->


</head>
<body>
<div id="cesiumContainer"></div>
<div id="threeContainer"></div>

<script data-main="main" type="text/javascript" src="/require.js"></script>

</body>
</html>